* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Geist", sans-serif;
    text-decoration: none;
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Geist", sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --neutral-950: #000;
    --neutral-60: #F8FBFF;
    --neutral-50: #FFF;
    --primary-500: #171D29;
    --primary-500-70: #171d29ab;
    --link-color: #0d4c7f;
    --link-hover: #0a3960;
    --border-accent: #f7931e;
}

body {
    background: var(--neutral-60);
}

.header {
    display: flex;
    width: 100%;
    background: var(--neutral-50);
    border-top: 4px solid var(--border-accent);
    padding: 1rem 2rem;
    margin-bottom: 50px;
}

.logo {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 1rem;
    color: var(--neutral-950);
    margin-bottom: 1rem;
}

.logo__icon {
    width: 24px;
    height: 24px;
}

.logo__name {
    display: flex;
}

.nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.nav__item a {
    font-size: 1rem;
    color: var(--link-color);
    transition: color 0.2s ease-in-out;
}

.nav__item a:hover {
    color: var(--link-hover);
}