* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Geist", sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --neutral-950: #000;
    --neutral-60: #F8FBFF;
    --neutral-70: #F5F6F8;
    --neutral-50: #FFF;
    --primary-100: #7D8086;
    --primary-200: #586071;
    --primary-500: #171D29;
    --primary-500-70: #171d29ab;
    --primary-20: #7D808633;
    --red-color: #D33434;

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background: var(--neutral-60);
}


main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 0px 16px;
    max-width: 414px;
    width: 100%;
}

.logo {
    display: flex;
    gap: 0.2188rem;
    align-items: center;
    font-size: 1rem;
    color: var(--neutral-950);
    margin-block: 0.5rem;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    gap: 2rem;
}

.form__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form__container p {
    margin-top: 16px;
    text-align: center;
}

.form__title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.form__title span {
    color: #f7931e;
    /* background: -webkit-linear-gradient(var(--gradient)); */
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.form__description {
    color: var(--primary-100);
    font-size: 1rem;
}

.form__input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form__input input {
    border: 1px var(--primary-20) solid;
    padding: 12px 8px;
    border-radius: 4px;
}

.form__input input::placeholder {
    color: var(--primary-100);
}

.form__button {
    background: var(--primary-500);
    padding-block: 12px;
    border-radius: 4px;
    color: var(--neutral-60);
    cursor: pointer;
    transition: all 200ms ease-in;
}

.form__button:hover {
    background: var(--primary-500-70);
}

.form__links {
    color: var(--neutral-950);
    text-align: center;
}

.form__links a {
    color: var(--neutral-950);
    text-decoration: underline;
    transition: all 100ms ease-in;
}

.form__links a:hover {
    color: var(--primary-500-70);
    text-decoration: underline;
}

.input-error {
    color: red;
}